.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    margin-top: 250px;
}

body {
    background-image: url('https://images7.alphacoders.com/573/573233.jpg');
    background-size: 2000px;
    background-position: center;
}